{
    "openapi": "3.0.0",
    "info": {
        "title": "TMS API Documentation",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": ""
        }
    ],
    "paths": {
        "/api/languages": {
            "get": {
                "tags": [
                    "Language"
                ],
                "summary": "Get Languages List",
                "description": "Returns list of all languages",
                "operationId": "787f94fc503d720508bf14747580ce5a",
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search language by name",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "string",
                                            "example": "List of languages"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Language"
                ],
                "summary": "Add Language",
                "description": "Add a new language",
                "operationId": "16fdeaa3d081cb00a33751b2d944c7a6",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "name",
                                    "code"
                                ],
                                "properties": {
                                    "name": {
                                        "description": "Language name",
                                        "type": "string"
                                    },
                                    "code": {
                                        "description": "Language code like 'us', 'uae'",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/languages/{id}": {
            "put": {
                "tags": [
                    "Language"
                ],
                "summary": "Update Language",
                "description": "Update an existing language",
                "operationId": "b1e002dad69e851ac6a1542966f2c721",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "Updated language name",
                                        "type": "string"
                                    },
                                    "code": {
                                        "description": "Updated language code",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Language"
                ],
                "summary": "Delete Language",
                "description": "Delete a language by ID",
                "operationId": "c7f0f18e0948403390ac36774a350e40",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Language Deleted!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Language Deleted!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/languages/{language}/translations": {
            "get": {
                "tags": [
                    "Translation"
                ],
                "summary": "Get Translations List",
                "description": "Returns list of translations for a language",
                "operationId": "398c21af18b652deda47c40f214f036a",
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Search translations",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "string",
                                            "example": "List of translations"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnauthorizedResponse"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Translation"
                ],
                "summary": "Add Translation",
                "description": "Add a new translation",
                "operationId": "78b763eae765057fdd23963d08323f40",
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "required": [
                                    "key",
                                    "content"
                                ],
                                "properties": {
                                    "key": {
                                        "description": "Translation key",
                                        "type": "string"
                                    },
                                    "content": {
                                        "description": "Translation content",
                                        "type": "string"
                                    },
                                    "tag": {
                                        "description": "Translation tag",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/languages/{language}/translations/{translation}": {
            "put": {
                "tags": [
                    "Translation"
                ],
                "summary": "Update Translation",
                "description": "Update an existing translation",
                "operationId": "8f05085d16deddbd6005b69210b3a687",
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "translation",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/x-www-form-urlencoded": {
                            "schema": {
                                "properties": {
                                    "key": {
                                        "description": "Translation key",
                                        "type": "string"
                                    },
                                    "content": {
                                        "description": "Translation content",
                                        "type": "string"
                                    },
                                    "tag": {
                                        "description": "Translation tag",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Translation"
                ],
                "summary": "Delete Translation",
                "description": "Deletes a specific translation",
                "operationId": "111f2da1884a6392b26da4bd83b2138f",
                "parameters": [
                    {
                        "name": "language",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "translation",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Translation Deleted!",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Translation Deleted!"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "Language": {
                "title": "Language",
                "description": "Language model",
                "properties": {
                    "name": {
                        "title": "Name",
                        "description": "Language name",
                        "type": "string",
                        "format": "string",
                        "example": "Shoes I want"
                    },
                    "code": {
                        "title": "Code",
                        "description": "Language code",
                        "type": "string",
                        "format": "string",
                        "example": "us"
                    },
                    "created_at": {
                        "title": "Created at",
                        "description": "Date when payout method is created",
                        "type": "string",
                        "format": "datetime",
                        "example": "2020-01-27 17:50:45"
                    },
                    "updated_at": {
                        "title": "Updated at",
                        "description": "Last date when payout method is updated",
                        "type": "string",
                        "format": "datetime",
                        "example": "2020-01-27 17:50:45"
                    },
                    "deleted_at": {
                        "title": "Deleted at",
                        "description": "Date when payout method is deleted",
                        "type": "string",
                        "format": "datetime",
                        "example": "2020-01-27 17:50:45"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Language"
                }
            },
            "Translation": {
                "title": "Translation",
                "description": "Translation model",
                "properties": {
                    "tag": {
                        "title": "Tag",
                        "description": "Translation tag",
                        "type": "string",
                        "format": "string",
                        "example": "desktop"
                    },
                    "key": {
                        "title": "key",
                        "description": "Translation key",
                        "type": "string",
                        "example": "buying"
                    },
                    "context": {
                        "title": "Translation",
                        "description": "Context of translation",
                        "type": "string",
                        "example": "User List"
                    },
                    "language_id": {
                        "title": "Langauge id",
                        "description": "Language id which translation list belongs to",
                        "type": "integer",
                        "example": "1"
                    },
                    "created_at": {
                        "title": "Created at",
                        "description": "Date when payout method is created",
                        "type": "string",
                        "format": "datetime",
                        "example": "2020-01-27 17:50:45"
                    },
                    "updated_at": {
                        "title": "Updated at",
                        "description": "Last date when payout method is updated",
                        "type": "string",
                        "format": "datetime",
                        "example": "2020-01-27 17:50:45"
                    },
                    "deleted_at": {
                        "title": "Deleted at",
                        "description": "Date when payout method is deleted",
                        "type": "string",
                        "format": "datetime",
                        "example": "2020-01-27 17:50:45"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Translation"
                }
            },
            "UpdatePointConfigurationRequest": {
                "title": "Update Point Configuration request",
                "description": "Update Point Configuration request",
                "properties": {
                    "description": {
                        "title": "Description",
                        "description": "Point Configuration Description",
                        "type": "string",
                        "format": "string",
                        "maximum": "128",
                        "example": "Sell a pair and win"
                    },
                    "given_at": {
                        "title": "Given At",
                        "description": "Point Configuration Given At",
                        "type": "string",
                        "format": "string",
                        "maximum": "32",
                        "example": "Buy"
                    },
                    "points_awarded": {
                        "title": "Points Awarded ",
                        "description": "Point Configuration Points Awarded",
                        "type": "integer",
                        "format": "int",
                        "example": 1000
                    }
                },
                "type": "object",
                "xml": {
                    "name": "UpdatePointConfigurationRequest"
                }
            },
            "UpdateRewardThresholdRequest": {
                "title": "Update Reward Threshold request",
                "description": "Update Reward Threshold request",
                "properties": {
                    "name": {
                        "title": "name",
                        "description": "Reward Threshold Name",
                        "type": "string",
                        "format": "string",
                        "maximum": "32",
                        "example": "Deadstock Hat"
                    },
                    "reward_type": {
                        "title": "Reward type",
                        "description": "Reward Threshold Type",
                        "type": "string",
                        "format": "string",
                        "maximum": "32",
                        "example": "Additional Entries"
                    },
                    "sku": {
                        "title": "SKU",
                        "description": "Reward Threshold SKU (Only if reward type is set to 'Free Sneakers')",
                        "type": "string",
                        "format": "string",
                        "maximum": "32",
                        "example": "CT8529-003"
                    },
                    "size": {
                        "title": "Size",
                        "description": "Reward Threshold Size (Only if reward type is set to 'Free Sneakers')",
                        "type": "string",
                        "format": "string",
                        "maximum": "4",
                        "example": "2"
                    },
                    "redemption_points": {
                        "title": "Redemption Points",
                        "description": "Reward Threshold Redemption Points",
                        "type": "integer",
                        "format": "int",
                        "example": 1500
                    },
                    "usage": {
                        "title": "Usage",
                        "description": "Reward Threshold Usage",
                        "type": "integer",
                        "format": "int",
                        "example": 2
                    }
                },
                "type": "object",
                "xml": {
                    "name": "UpdateRewardThresholdRequest"
                }
            },
            "VendorDocumentMetaValues": {
                "title": "Vendor Document Meta Values",
                "properties": {
                    "expiration_date": {
                        "title": "Expiration Date",
                        "type": "string",
                        "example": "2022-12-31"
                    },
                    "seller_permit_no": {
                        "title": "Seller Permit Number",
                        "type": "string"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "VendorDocumentMetaValues"
                }
            },
            "LanguageResource": {
                "title": "LanguageResource",
                "description": "User resource",
                "properties": {
                    "results": {
                        "title": "UserList",
                        "description": "List of Users",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Language"
                        }
                    }
                },
                "type": "object",
                "xml": {
                    "name": "LanguageResource"
                }
            },
            "TranslationResource": {
                "title": "TranslationResource",
                "description": "TranslationResource resource",
                "properties": {
                    "data": {
                        "title": "VendorTradeListingWantHistoryItem",
                        "description": "List of VendorTradeListingWantHistoryItem",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Translation"
                        }
                    }
                },
                "type": "object",
                "xml": {
                    "name": "TranslationResource"
                }
            },
            "BadRequestResponse": {
                "title": "Bad Request response",
                "description": "Bad Request response",
                "properties": {
                    "message": {
                        "title": "Message",
                        "description": "Error message",
                        "type": "string",
                        "format": "string",
                        "example": "Bad Request"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "BadRequestResponse"
                }
            },
            "InternalServerErrorResponse": {
                "title": "Internal Server Error response",
                "description": "Internal Server Error response",
                "properties": {
                    "message": {
                        "title": "Message",
                        "description": "Error message",
                        "type": "string",
                        "format": "string",
                        "example": "Internal Server Error"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "InternalServerError"
                }
            },
            "NotFoundResponse": {
                "title": "Not Found response",
                "description": "Model not found response.",
                "properties": {
                    "message": {
                        "title": "Message",
                        "description": "Error message",
                        "type": "string",
                        "format": "string",
                        "example": "Not Found"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "NotFoundResponse"
                }
            },
            "UnauthorizedResponse": {
                "title": "Unauthorized response",
                "description": "Unauthorized response.",
                "properties": {
                    "message": {
                        "title": "Message",
                        "description": "Error message",
                        "type": "string",
                        "format": "string",
                        "example": "Unauthorized"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "UnauthorizedResponse"
                }
            },
            "UnprocessableEntityResponse": {
                "title": "Uprocessable entity response",
                "description": "Validation errors response.",
                "properties": {
                    "message": {
                        "title": "Message",
                        "description": "Error message",
                        "type": "string",
                        "format": "string",
                        "example": "The given data was invalid."
                    },
                    "errors": {
                        "title": "Validation Errors",
                        "description": "Validation errors for each field.",
                        "properties": {
                            "field_name": {
                                "description": "Field name that has a validation error.",
                                "type": "array",
                                "items": {
                                    "type": "string"
                                },
                                "example": [
                                    "The 'field_name' field is required.",
                                    "The 'field_name' must be at least 3 characters."
                                ]
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "CardCheckoutResponse"
                }
            },
            "LanguageResponse": {
                "title": "Watchlist Items",
                "description": "Paginated watchlist items response",
                "properties": {
                    "items": {
                        "title": "Watchlist items",
                        "description": "Array of watchlist item",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Language"
                        }
                    },
                    "total_count": {
                        "title": "Total count",
                        "description": "Total number of watchlist items",
                        "type": "integer",
                        "example": "125"
                    },
                    "per_page": {
                        "title": "Per page",
                        "description": "Number of items per page",
                        "type": "integer",
                        "example": "25"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "LanguageResponse"
                }
            },
            "TranslationResponse": {
                "title": "Watchlist Items",
                "description": "Paginated watchlist items response",
                "properties": {
                    "items": {
                        "title": "Watchlist items",
                        "description": "Array of watchlist item",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Language"
                        }
                    },
                    "total_count": {
                        "title": "Total count",
                        "description": "Total number of watchlist items",
                        "type": "integer",
                        "example": "125"
                    },
                    "per_page": {
                        "title": "Per page",
                        "description": "Number of items per page",
                        "type": "integer",
                        "example": "25"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "LanguageResponse"
                }
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "description": "Login with email and password using login API to get the token. Then enter the token below to authorize.",
                "scheme": "bearer"
            }
        }
    },
    "security": [
        {
            "bearerAuth": []
        }
    ],
    "tags": [
        {
            "name": "Language",
            "description": "Language"
        },
        {
            "name": "Translation",
            "description": "Translation"
        }
    ]
}